/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Element Selectors */
h1 {
    margin-bottom: 1rem;
}

p {
    width: 75%;
    margin: 1rem auto;
}

button {
    border: none;
}
/* Class Selectors */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Only display the main menu when page opens */
.container2, .container3, .container4 {
    display: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem auto;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.01);
    background-color: rgb(29, 29, 211);
}

.end-form-container{
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 1rem;;
}

.choice-container {
    display: flex;
    border-radius: 5px;
    background: blue;
    min-width: 30rem;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
    align-items: center;
}

.choice-container:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.02);
    background-color: rgb(29, 29, 211);
}

.choice-letter {
    padding: 1rem;
    width: 1rem;
}

.answer-correct-incorrect {
    font-size: 1.5rem;
    height: 2rem;
}

.timer {
    height: 2rem;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}

.highscore-list {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1rem;
}
/* ID Selectors */
#username {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-align: left;
    padding-left: 0.5rem;
}